*{
    margin: 0;
    padding: 0;
}
.section-one{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
.section-one p{
    gap: 10px;
    
}
.section-one__home,.section-one__recipe,.section-one__contact{
    display: inline-block;
   color: gray;
    margin-top: 10px;
    
}
.section-one__home:hover,.section-one__recipe:hover,.section-one__contact:hover{
    color: white;
    cursor: pointer;
}



.section-two{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
   text-align: center;
   flex-wrap: wrap;
   
    
    
}
.section-two__food1 img,.section-two__food2 img,.section-two__food3 img,.section-two__food4 img{
    width: 250px;
    height: 300px;
    
}
.section-two__food1 img:hover{
    opacity: 0.8;
    cursor: pointer;
}
.section-two__food2 img:hover{
    opacity: 0.8;
    cursor: pointer;
}
.section-two__food3 img:hover{
    opacity: 0.8;
    cursor: pointer;
}
.section-two__food4 img:hover{
    opacity: 0.8;
    cursor: pointer;
}


   
.section-two__food1{
    border: solid black 2px;
    width: 250px;
    height: 430px;
   
}


.section-two__food2 h4{
    width: 200px;

}
.section-two__food2 h4, p{
   
    margin-left: 40px;
}
.section-two__food2{
    border: solid black 2px;
    width: 250px;
    height: 430px;
   
}

.section-two__food3 h4{
    width: 240px;

}

.section-two__food3{
    border: solid black 2px;
    width: 250px;
    height: 430px;
   
}

.section-two__food4 h4{
    width: 240px;

}

.section-two__food4{
    border: solid black 2px;
    width: 250px;
    height: 430px;
   
}
  

.section-two__order{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
   
}
.section-two__order:hover{
    cursor: pointer;
   
    opacity: 0.4;
}


.section-three{
    background-color: black;
    color: white;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    padding: 20px;
    
   
}
.section-three__table{
    text-align: center;
    display: inline-block;
}
.section-three__save{
    width: 300px;
    text-align: center;
    background-color: yellow;
    color: black;
    
}
.section-three__table input:focus{
    outline: none;

}
.section-two__food1 i{
    margin-top: 10px;
}





